<section class="container col-sm-10 col-md-8 col-lg-6">
	<h2 class="col-sm-offset-2 col-sm-10">Contact Us</h2>
	<form ng-submit="submitForm(contactForm)" name="contactForm" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="contactName">Name</label>
			<div class="col-sm-10">
				<input type="text" ng-model="formData.contactName" id="contactName" class="form-control" placeholder="Enter your full name here" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="contactPhone">Phone</label>
			<div class="col-sm-10">
				<input type="tel" pattern="^\+(?:[0-9] ?){6,14}[0-9]$" ng-model="formData.contactPhone" id="contactPhone" class="form-control" placeholder="Enter your phone number here">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="contactEmail">E-mail</label>
			<div class="col-sm-10">
				<input type="email" ng-model="formData.contactEmail" id="contactEmail" class="form-control" placeholder="Enter your e-mail address here" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="contactSubject">Subject</label>
			<div class="col-sm-10">
				<input type="text" ng-model="formData.contactSubject" id="contactSubject" class="form-control" placeholder="Enter your subject here" required>
			</div>
		</div>
		<div class="form-group">
      		<label class="col-sm-2 control-label" for="contactMessage">Body</label>
	      	<div class="col-sm-10">
        		<textarea ng-model="formData.contactMessage" id="contactMessage" class="form-control" rows="10" placeholder="Enter your message here" required></textarea>
      		</div>
    	</div>
    	<div class="form-group">
      		<div class="col-sm-offset-2 col-sm-10">
        		<button type="submit" name="submit" value="submit" ng-disabled="submitButtonDisabled" class="btn btn-success">Send</button>
      		</div>
    	</div>
	</form>
	<p class="col-sm-offset-2 col-sm-10" ng-class="result">{{resultMessage}}</p>
</section>