<section>
	<div class="panel">
		<div class="panel-body">
			<div class="panel">
				<!-- Lämna så vi inte har titel, eller ska vi lägga in postens title? Snyggare/fulare?-->
			</div>
			<div class="panel">
				<button ng-click="goBack();" class="btn btn-primary ">Back top property page</button>
			</div>
			<div class="panel" ng-repeat="media in property.media|limitTo:10" active="media.active"> <!-- ng-repeat here -->
				<img src="{{media.source}}" class="img-responsive img-rounded" alt="Responsive image">
				<p>{{media.title}}</p>
			</div>
			<button ng-click="goBack();" class="btn btn-primary">Back top property page</button>
		</div>
	</div>
</section>