<div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3 class="panel-title search-title">Search results:</h3>
      </div>
      <table class="table">
         <tr>
            <th class="cityData">City:</th>
            <th>Adress:</th>
            <th class="roomsData">Rooms:</th>
            <th class="grossData">Gross Internal Area:</th>
            <th>Asking Price:</th>
         </tr>
         <tr ng-repeat="searchResults in searchModels | filter:citySearchFields | propertyTypeFilter:propertyFilters.type | regionFilter:propertyFilters.region | cityFilter:propertyFilters.city | askingPrice:propertyFilters.askingPrice | monthlyFee:propertyFilters.monthlyFee | grossInternalArea:propertyFilters.grossInternalArea | rooms:propertyFilters.rooms | hasElevator:propertyFilters.elevator | hasBalcony:propertyFilters.balcony">
            <td class="cityData">{{searchResults.propertyData.city | toTitleCase}}</td>
            <td>{{searchResults.post.title}}</td>
            <td class="roomsData">{{searchResults.propertyData.rooms}}</td>
            <td class="grossData">{{searchResults.propertyData.gross_internal_area}} m2</td>
            <td>{{searchResults.propertyData.asking_price | currency:"":0}} SEK</td>
            <td><button class="propertyButton btn btn-xs btn-primary" ng-click="goTo('property/'+searchResults.post.slug)">More info</button></td>
         </tr>
      </table>
   </div>
</div>