<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title search-title">Search results:</h3>
    </div>
      <table class="table">
        <tr>
          <th>City:</th>
          <th>Adress:</th>
          <th>Rooms:</th>
          <th>Gross Internal Area:</th>
          <th>Date:</th>
        </tr>
        <tr ng-repeat="searchResults in searchModels | propertyType:propertyFilters.type | regionArea:propertyFilters.region">
          <td>{{searchResults.propertyData.city | capitalize}}</td>
          <td>{{searchResults.post.title}}</td>
          <td>{{searchResults.propertyData.rooms}}</td>
          <td>{{searchResults.propertyData.gross_internal_area}} m2</td>
          <td>{{searchResults.post.date | date:medium}}</td>
          <td><button class="btn btn-xs btn-primary" ng-click="goTo('property/'+searchResults.post.slug)">More info</button></td>
        </tr>

      </table>
  </div>
</div>